* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background: #e2fbff;
	color: white;
}

main {
	display: flex;
	flex: 1;
	width: 90%;
	margin: auto;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

span {
	color: #ff0000;
}
