:root {
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background: #e2fbff;
	min-height: 100vh;
	position: relative;
	color: white;
}

a {
	text-decoration: none;
}

.mg-l-5 {
	margin-left: 5px;
}

.mg-r-5 {
	margin-right: 5px;
}

.fullscreen {
	min-height: 100vh;
}
