.navbar {
	background: black;
	border-bottom: 3px solid red;
	overflow: hidden;
	padding: 4px;
	width: 100%;
}

.navbar_container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	position: relative;
	width: 90%;
}

.navbar_logo {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 1.1rem;
	font-weight: bold;
	order: 1;
	width: 50%;
}

.navbar_hamburger_menu {
	color: #c0c0c0;
	display: flex;
	justify-content: flex-end;
	order: 2;
	width: 50%;
}

.navbar_thread_links {
	order: 3;
	width: 50%;
}

.navbar_thread_links ul {
	display: flex;
	font-size: 15px;
	margin-top: 10px;
}

.navbar_thread_links a {
	color: #c0c0c0;
}

.navbar_thread_links ul a:last-child {
	margin-left: 5px;
}

.navbar_authentication_links {
	display: flex;
	justify-content: flex-end;
	order: 4;
	width: 50%;
}

.navbar_authentication_links ul {
	align-items: center;
	display: flex;
	font-size: 15px;
	margin-top: 10px;
}

.navbar_authentication_links a {
	color: #c0c0c0;
}
