.navbar {
	display: flex;
	justify-content: space-between;
	padding: 5px 5px;
	background-color: black;
	align-items: center;
	width: 100%;
	border-bottom: 5px solid #f30200;
	position: fixed;
}

.navbar img {
	margin-right: 5px;
}

.navbar ul {
	display: flex;
	list-style: none;
	align-items: center;
	height: 40px;
}

.navbar li {
	margin-left: 10px;
}

.navbar a {
	color: #fff;
}

.navbar li a {
	color: rgb(166, 166, 166);
	transition: color 0.2s ease-in-out;
}

.navbar li a:hover {
	color: white;
}

.navbar span {
	color: #f30200;
	font-weight: bold;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 2rem;
	color: white;
}
