@use '../globals/mixins' as m;
@use '../globals/colors' as c;

.navbar {
	background-color: c.$dark;
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;

	&__upper {
		align-items: center;
		color: c.$lightGrey;
		display: flex;
		justify-content: space-between;
		margin: auto;
		padding: 0.5rem 0rem;
		width: 80%;

		&__hamburger {
			@include m.breakpoint-up(medium) {
				display: none;
			}
		}

		&__desktop__auth__links {
			display: flex;
			justify-content: space-evenly;

			@include m.breakpoint-down(small) {
				display: none;
			}

			a:first-child {
				margin-right: 0.4rem;
			}
		}
	}

	&__lower {
		border-bottom: 0.312rem solid c.$bloodRed;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
		padding-bottom: 0.2rem;
		width: 100%;

		&__mobile__links {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: auto;
			width: 80%;
			@include m.breakpoint-up(medium) {
				display: none;
			}
		}

		&__desktop__links {
			display: flex;
			margin: auto;
			width: 80%;

			a:not(:first-child) {
				margin-left: 0.5rem;
			}

			@include m.breakpoint-down(small) {
				display: none;
			}
		}
	}

	ul:first-child {
		a {
			margin-right: 0.3rem;
		}
	}

	ul {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	a {
		align-items: center;
		color: c.$lightGrey;
		display: flex;
		font-size: 0.55rem;
		text-decoration: none;
		transition: color 300ms ease-in-out;
	}

	a:hover {
		color: c.$light;
	}

	span {
		color: c.$bloodRed;
	}

	h1 {
		color: c.$light;
		font-size: 0.75rem;
	}
}
